<%= render 'shared/errors', obj:@genre %>

<%= form_with(model: @genre, class: "shadow p-3 mb-3 mb-5 rounded", id:"form-color", local: true) do |f| %>

  <div class ="input-group mt-3 row">
    <%= f.label :name, class: "col-2 col-form-label text-light" %>
    <div class ="col-10">
      <%= f.text_field :name , class: "form-control mt-3 shadow rounded", placeholder: "Genre" %>
    </div>
  </div>

  <div class= "form-group d-flex mt-3 justify-content-center">
    <%= f.submit class: "btn btn-outline-light btn-lg " %>
  </div>
<% end %>