<h1 class="text-center mt-4"> All users </h1>

<div class="container mt-5">
  <div class="row">
    <% @users.each do |user| %>
      <div class="col-sm-3 mb-3 mt-4 grid-flex">
        <div class="card" style="width: 18rem;">
          <%= link_to gravatar_for(user, size: 150), user %>
          <div class="card-body text-center">
            <h5 class="card-title fw-bold"><%= user.username.titlecase %></h5>
            <p class="card-text"><%= pluralize(user.records.count, "Listing") %> </p>
            <div class="container">
              <%= link_to "View profile", user, class:"btn btn-primary" %>
              <% if logged_in? && user == current_user %>
                <%= link_to "Edit", edit_user_path(user), class:"btn btn-info " %>
              <% end %>
            </div>
          </div>
          <small class="text-center text-muted">joined <%= time_ago_in_words(user.created_at) %> ago</small>
        </div>
      </div>
    <% end %>
  </div>
</div>