<div class="container mt-4">
  <div class="row">
    <% @records.each do |record| %>
      <div class="col-sm-3 mb-3 mt-3 grid-flex">
        <div class="card" style="width: 16rem;">
          <%= image_tag record.image, style: "width: 255px; height: 250px;" rescue image_tag "placeholder.jpg", style: "width: 255px; height: 250px;"%>
          <% if record.genres.any? %>
            <div class="mt-2"> <%= render record.genres %> </div>
          <% end %>
          <div class="card-body">
            <h5 class="card-title fw-bold" id="artist_title"><%= record.album.titleize %></h5>
            <p class="card-text"><strong>Artist: </strong><%= record.artist.titleize %></p>
            <p class="card-text"><strong>Variant: </strong><%= record.variant.titleize %></p>
            <p class="card-text"><strong>Description: </strong><%= truncate(record.description.capitalize, length:15) %></p>
            <div class="container text-center">
              <%= link_to "Details", record_path(record), class:"btn btn-outline-primary" %>
              <% if logged_in? && (record.user == current_user || current_user.admin?) %>
                <%= link_to "Edit", edit_record_path(record), class:"btn btn-outline-info " %>
                <%= link_to "Remove", record_path(record), class:"btn btn-outline-danger mt-1", data:{turbo_method: :delete, "turbo-confirm": "Are you sure?"} %>
              <% end %>
            </div>
          </div>
          <small class="text-center text-muted mb-2 ">Listed by <%= link_to record.user.username, user_path(record.user) %></small>
        </div>
      </div>
    <% end %>
  </div>
</div>