<div class="container mt-5">
  <div class="row">
    <% @records.each do |record| %>
      <div class="col-sm-3 mb-3 mt-4 grid-flex">
        <div class="card" style="width: 18rem;">
          <%=image_tag src='placeholder.jpg' %>
          <div class="card-body">
            <h5 class="card-title fw-bold" id="artist_title"><%= record.album.titlecase %></h5>
            <p class="card-text"><strong>Artist: </strong><%= record.artist %></p>
            <p class="card-text"><strong>Genre: </strong><%= record.genre %></p>
            <p class="card-text"><strong>Variant: </strong><%= record.variant %></p>
            <p class="card-text"><strong>Description: </strong><%= truncate(record.description, length:20) %></p>
            <%= link_to "Details", record_path(record), class:"btn btn-primary" %>
            <%= link_to "Edit", edit_record_path(record), class:"btn btn-info " %>
            <%= link_to "Remove", record_path(record), class:"btn btn-danger", data:{turbo_method: :delete, "turbo-confirm": "Are you sure?"} %>
          </div>
          <small class="text-center text-muted mb-2 ">Listed by <%= record.user.username if record.user%></small>
        </div>
      </div>
    <% end %>
  </div>
</div>