<h2 class="text-center mt-4"> <%= @record.album.titlecase %> </h2>

<div class="container">
  <div class="row justify-content-md-center ">
    <%#=image_tag src='placeholder.jpg' %>
      <div class='image-container'><%= image_tag "placeholder.jpg", size: 200%></div>
    <div class="col-8 mt-4 ">
      <div class="card text-center shadow mb-5 bg-body-tertiary rounded">
        <div class="card-header font-italic">
          Listed by <%= link_to @record.user.username, user_path(@record.user)  %>
        </div>
        <div class="card-body">
          <div class="card-text text-start"><strong>Artist: </strong><%= @record.artist %></div>
          <div class="card-text text-start"><strong>Genre: </strong><%= @record.genre %> </div>
          <div class="card-text text-start"><strong>Variant: </strong><%=@record.variant %></div>
          <div class="card-text text-start"><strong>Description: </strong><%= @record.description%></div>
            <%= link_to 'Edit', edit_record_path(@record), class: "btn btn-outline-info" %>
            <%= link_to 'Delete', record_path(@record),class: "btn btn-outline-danger", data: {turbo_method: :delete, "turbo-confirm": "are you sure?"} %>
        </div>
        <div class="card-footer text-muted">
          <small>Created <%= time_ago_in_words(@record.created_at) %> ago,
            edited <%= time_ago_in_words(@record.updated_at)%> ago</small>
        </div>
      </div>
      <%= link_to "[ return to all records ]",records_path, class: "text-center"%>
    </div>
  </div>
</div>
